/*Global Configurations ========================================== */
:root {
    --dark-blue: #363f5f;
    --green:#49aa26;
    --grey:#969cb3;
    --income:#12a454;
    --expense:#e92929;
}

* {
    margin: 0; /*Espaçamento externo*/
    padding: 0; /*Preenchimento*/
    box-sizing: border-box;

}

body {
    background: #f0f2f5;
    font-family: 'Poppins', sans-serif;

}

.container{
    width: min(90vw, 800px); /*2 valores, procure o menor, no caso, 90vw e 800px*/
    margin: auto;
}

/* TITLES ========================================== */
h2 {
    margin-top: 3.2rem;
    margin-bottom: 0.8rem;
    color:var(--dark-blue);
    
    font-weight: normal;
}



/* HEADER ========================================== */
header {
    background: #2d4a22;
    padding: 2rem 0 10rem;
    text-align: center;
}

#logo {
    color: #fff;
    font-weight: 100;
}

/* BALANCE ========================================== */
#balance {
    margin-top: -8rem;
}

#balance h2 {
    color:white;
    margin-top: 0;
}

/* CARDS ========================================== */
.card {
    background: white;
    padding: 1.5rem 2rem;
    border-radius: 0.25rem;

    margin-bottom: 2rem;

    color: var(--dark-blue);
}

.card h3 {
    font-weight: normal;
    font-size: 1rem;
}

.card p {
    font-size: 2rem;
    line-height: 3rem;
}

.card.total {
    background-color: var(--green);
    color: white;
}

/* TABLE ========================================== */
#data-table {
    width: 100%;
    border-spacing: 0 0.5rem;
    color: var(--grey);
}

table thead th:first-child,  
table tbody td:first-child {
    border-radius: 0.25rem 0 0 0.25rem;
     
}

table thead th {
    background: white;
    font-weight: normal;
    padding: 1rem 2rem;
    text-align: left;
}

table tbody tr{
    opacity: 0.7;
}

table tbody tr:hover {
    opacity: 1;
}
table td {
    background: white;
    padding: 1rem 2rem;
}


td.description {
    color: var(--dark-blue);
}

td.income {
    color: var(--income)
}

td.expense {
    color: var(--expense)
}

/* FOOTER ========================================== */
footer {
    text-align: center; 
    padding: 4rem 0 2rem;
    color:var(--dark-blue) ;
    opacity: 0.6;
}

